@page
@model Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Potvrzení registrace";
}

@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        Tato aplikace aktuálně nemá zaregistrovaného skutečného odesílatele e-mailu, viz <a href="https://aka.ms/aspaccountconf">dokumentace</a> jak nakonfigurovat skutečného odesílatele e-mailu.
        Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
    </p>
    }
    else
    {
    <p>
        Zkontrolujte prosím svůj e-mail a potvrďte svůj účet.
    </p>
    }
}
