@page
@model Identity.Pages.Account.RolesUsers.SeznamEditRoleModel
@{
    ViewData["Title"] = "Editace uživatelských rolí";
    if (User.IsInRole("Administrator"))
    {

    }
    else
    {
        Response.Redirect(Request.Scheme + "://" + Request.Host);
    }
}
<div class="container mt-4">
    <form id="Form-Role" name="Form-Role" asp-page-handler="CreateRole" method="post">
        <div class="row">
            <div class="col">

                <label for="TextRole">Jméno uživatelské role</label>
                <input id="TextRole" name="TextRole" type="text" class="form-control" />
            </div>
            <div class="col">
                <label for="ButtonRole" style="visibility:hidden;">B</label>
                <input id="ButtonRole" name="ButtonRole" type="submit" class="form-control" ; />
            </div>

        </div>
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Název uživatelské role
                        </th>

                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Roles)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                            </td>
                            <td>
                                <a href="#" onclick="DialogDelSET('@item.Id', '@item.Name');" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Odstranit</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            
        </div>
    </div>
</div>

<script>
    function DialogDelSET(di, str) {alert();
        var $el = $('#' + di).clone();
        $('#dialogDelNA').empty();
        $('#dialogDelNA').append(str);
        if (window.location.search == "") {
            $('#delBTN').attr("href", window.location + "?del=" + di );
        }
        else {
            $('#delBTN').attr("href", window.location + "&del=" + di );
        }



    }

</script>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Odstranit záznam</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col" id="dialogDelNA">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" href="#" role="button" data-dismiss="modal">Zavřít</a>
                <a id="delBTN" class="btn btn-primary" href="#" role="button">Smazat</a>
            </div>
        </div>
    </div>
</div>
