@page
@model WebApplication1.Pages.InlineModel
@{
    ViewData["Title"] = "Inline";
}

<h1 class="mb-3">Inline editor</h1>

@if (Model.Obsah.Count == 0)
{
    <div class="alert alert-warning">Obsah nebyl nalezen v databazi.</div>
}
else
{
    @foreach (var item in Model.Obsah)
    {
        <div class="border rounded p-3 mb-3" edit="@item.Id">
            @Html.Raw(item.Html)
        </div>
    }
}

@await Html.PartialAsync("~/Areas/CKEditor5/Pages/CKEditor5Inline.cshtml")
